/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* ------------------------------- CSS Reset ------------------------ */

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------- CSS Reset ------------------------ */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fffffe;
    display: flex;
    flex-direction: column;
    line-height: 1.7;
    box-sizing: border-box;
}

p {
    color: #2d334a;
}

h1,
h2,
h3,
h4,
h5 {
    color: #272343;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0px;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.navbar {
    color: #272343;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    width: 100%;
}

.navbar .container {
    padding: 16px 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    display: flex;
    gap: 32px;
}

.outline {
    color: white;
    background-color: white;
    text-shadow: -1px -1px 0 #bae8e8, 1px -1px 0 #bae8e8, -1px 1px 0 #bae8e8,
        1px 1px 0 #bae8e8;
}

.hero {
    margin: 150px 0px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
}

.avatar {
    background-image: url("images/me.jpg");

    /* make a square container */
    min-width: 250px;
    height: 250px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: bottom 0px right 2px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    margin-right: 64px;

    transition: transform 500ms ease-in-out;
}

.avatar:hover {
    transform: rotate(0.99turn) scale(1.1);
    cursor: pointer;
}

.description {
    max-width: 600px;
}

.experience {
    background-color: #bae8e8;
    padding: 80px 0px;
}

.experience .container h1 {
    text-align: center;
    margin-bottom: 80px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 80px;
}

.boxes .box {
    padding: 12px 24px;
    width: 500px;
    background-color: #fffffe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.box p {
    align-self: flex-start;
}

.box p:nth-of-type(2) {
    font-weight: 600;
}

.box:nth-child(1) {
    border-radius: 15px 50px 30px;
}

.box:nth-child(2) {
    border-radius: 50px 15px 30px;
}

.box {
    transition: all 500ms ease-in-out;
}

.box:hover {
    cursor: pointer;
    transform: translate(0px, -10px);
    box-shadow: 0 5px 15px -10px #000;
}

.box img {
    max-width: 200px;
    max-height: 150px;
}

.capgemini-logo {
    margin-top: 8px;
}

.box ul li {
    padding-left: 16px;
    color: #2d334a;
}

footer {
    margin-top: 80px;
    height: 69px;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container p {
    font-size: 18px;
    font-weight: 600;
}

.socials i {
    margin-left: 18px;
    transition: all 500ms;
}

.socials i:hover {
    transform: scale(1.5);
}

.social-icon {
    color: #2d334a;
}

.motto {
    margin: 80px 0px;
}

.motto h1 {
    margin-top: 80px;
    margin-bottom: 50px;
}

.motto .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quote {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-size: 80px;
    animation: color-change 4s infinite;
    text-align: center;
}

@keyframes color-change {
    0% {
        color: #e58425;
    }
    25% {
        color: #deba79;
    }
    50% {
        color: #56a784;
    }
    75% {
        color: #a45eff;
    }
    100% {
        color: #e58425;
    }
}

.author {
    align-self: end;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
}

.author img {
    transform: rotateZ("180deg");
}

#btn-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

.short-text {
    display: none;
}

@media screen and (max-width: 1340px) {
    #btn-top {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .experience .boxes {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1000px) {
    .hero .container {
        flex-direction: column;
        align-items: center;
    }

    .hero .container h1 {
        text-align: center;
    }

    .avatar {
        order: -1;
        margin: 0;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 515px) {
    .navbar .container {
        flex-direction: column;
        align-items: center;
    }

    .navbar .container ul {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}

@media screen and (max-width: 450px) {
    .hero {
        margin: 120px 0px;
    }

    .boxes .box {
        width: 300px;
    }

    .full-text {
        display: none;
    }

    .short-text {
        display: block;
    }
}
